In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(200)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015
1461,tt0414993,35000000,15304890,The Fountain,Hugh Jackman|Rachel Weisz|Ellen Burstyn|Mark M...,Darren Aronofsky,Death is the road to awe,"Spanning over one thousand years, and three pa...",96,Drama|Adventure|Science Fiction|Romance,Regency Enterprises|Warner Bros.|Muse Entertai...,9/6/2006,6.7,2006
1218,tt1288558,17000000,97542952,Evil Dead,Jane Levy|Jessica Lucas|Shiloh Fernandez|Lou T...,Fede Alvarez,The most terrifying film you will ever experie...,"Evil Dead, the fourth installment of the Evil ...",91,Horror,TriStar Pictures|Ghost House Pictures|FilmDist...,4/5/2013,6.3,2013
1779,tt0446013,45000000,30822861,Pathfinder,Karl Urban|Moon Bloodgood|Russell Means|Clancy...,Marcus Nispel,"Two Worlds, One War. The Ultimate Battle Begins.",A Viking boy is left behind after his clan bat...,99,Action,Twentieth Century Fox Film Corporation|Dune En...,1/11/2007,5.4,2007
1601,tt0346491,155000000,167298192,Alexander,Colin Farrell|Angelina Jolie|Val Kilmer|Jared ...,Oliver Stone,The greatest legend of all was real.,"Alexander, the King of Macedonia, leads his le...",175,War|History|Action|Adventure|Drama,France 3 CinÃ©ma|Intermedia Films|PathÃ© Renn ...,11/21/2004,5.6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001
1671,tt0382932,150000000,623722818,Ratatouille,Patton Oswalt|Ian Holm|Lou Romano|Brian Denneh...,Brad Bird|Jan Pinkava,He's dying to become a chef.,A rat named Remy dreams of becoming a great Fr...,111,Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Pixar Animation Studios,6/22/2007,7.3,2007
1469,tt0362120,45000000,178262620,Scary Movie 4,Anna Faris|Regina Hall|Craig Bierko|Bill Pullm...,David Zucker,Bury the grudge. Burn the village. See the saw.,Cindy finds out the house she lives in is haun...,83,Comedy,Dimension Films,4/13/2006,5.3,2006
438,tt1075747,47000000,10539000,Jonah Hex,Josh Brolin|John Malkovich|Megan Fox|Michael F...,Jimmy Hayward,Revenge gets ugly.,Gunsliger Jonah Hex (Josh Brolin) is appointed...,80,Action|Western|Drama|Fantasy|Thriller,Warner Bros.,6/18/2010,4.4,2010
1055,tt1764183,12000000,35485056,Arbitrage,Richard Gere|Susan Sarandon|Tim Roth|Brit Marl...,Nicholas Jarecki,Power is the best alibi.,"A troubled hedge fund magnate, desperate to co...",100,Drama|Thriller,Lionsgate|Artina Films|Lucky Monkey Pictures|G...,9/14/2012,5.9,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # создаем колонку с профитом
# функция считает длинну string из датафрэйма
def words_num (x): 
    return len(x)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
x = data[(data.budget == data.budget.max())].original_title
x = x.to_string(index=False)
answers['1'] = x
answers

{'1': ' Pirates of the Caribbean: On Stranger Tides'}

ВАРИАНТ 2

In [7]:


# можно добавлять разные варианты решения
task = '1.'
x = data[(data.budget == data.budget.max())]
x1 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['1'] = '{0}{1} ({2})'.format(task, x1,y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)'}

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
task = '2.'
x = data[(data.runtime == data.runtime.max())]
x2 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['2'] = '{0}{1}({2})'.format(task, x2, y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
task = '3.'
x = data[(data.runtime == data.runtime.min())]
x3 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['3'] = '{0}{1}({2})'.format(task, x3, y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)'}

# 4. Какова средняя длительность фильмов?

In [11]:
task = '4.'
x = data['runtime'].mean()
answers['4'] = '{0} Средняя продолжительность фильмов: {1} минут'.format(task, x)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут'}

# 5. Каково медианное значение длительности фильмов?

In [12]:
task = '5.'
x = data['runtime'].median()
answers['5'] = '{0} Медианное значение длительности фильмов: {1} минут'.format(task, x)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут'}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
task = '6.'
x = data[(data.profit == data.profit.max())]
x6 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['6'] = '{0}{1}({2})'.format(task, x6, y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)'}

# 7. Какой фильм самый убыточный?

In [14]:
task = '7.'
x = data[(data.profit == data.profit.min())]
x7 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['7'] = '{0}{1}({2})'.format(task, x7, y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
task = '8.'
x = len(data[(data.profit > 0)])
answers['8'] = '{0} У {1} фильмов из датасета объем сборов оказался выше бюджета'.format(task, x)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета'}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
task = '9.'
x = data[(data.release_year == 2008)]
x = x[(x.profit == x.profit.max())]
x9 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['9'] = '{0}{1}({2})'.format(task, x9, y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
task = '10.'
x = data.query('2012 <= release_year <= 2014 ')
x = x[(x.profit == x.profit.min())]
x10 = x.original_title.to_string(index=False)
y = x.imdb_id.to_string(index=False)
answers['10'] = '{0}{1}({2})'.format(task, x10, y)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [19]:
task = '11.'
x11 = data.genres.str.split('|').explode().value_counts().head(1)
x11 = x11.to_string()
answers['11'] = '{0} Жанр {1}'.format(task, x11)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
task = '12.'
df = data[data.profit > 0][['genres']]
df.genres = df.genres.str.split('|')
df = df.explode('genres')
df = df.genres.value_counts().head(1)
answers['12'] = '{0} Жанр {1}'.format(task, df.to_string())
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560'}

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
task = '13.'
df = data.groupby(['director']).sum()
#df = df.explode('director')
df = df.sort_values(by = 'revenue', ascending = False)
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['13'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
task = '14.'
df = data[data.genres.str.contains('Action') == True]
df.director = df.director.str.split('|')
df = df.explode('director')
a = df.director.value_counts().head(1).index.tolist()
a = ''.join(map(str, a))
answers['14'] = '{0} {1}'.format(task, a)
answers

C:\Users\Dirty_S\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
task = '15.'
df = data[data['release_year'] == 2012].copy()
df['actors'] = df.cast.str.split('|')
df = df.explode('actors')
df = df.groupby(['actors'])['revenue'].sum().sort_values(ascending = False)
#print(df.pivot_table(columns = 'actors', index = 'original_title', values = 'revenue', aggfunc = 'sum'))
#df = df.keys()
#df = df['actors']
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['15'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
task = '16.'
df = data.copy()
df.cast = df.cast.str.split('|')
df = df.explode('cast')
high_bfilm = df[df.budget > df.budget.mean()]
hbf_actor = high_bfilm['cast'].value_counts()
hbf_actor = hbf_actor.head(1).index.tolist()
hbf_actor = ''.join(map(str, hbf_actor))
answers['16'] = '{0} {1}'.format(task, hbf_actor)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
task = '17.'
df = data.copy()
df.genres = df.genres.str.split('|')

#df = df.explode('genres') 
#df.cast = df.cast.str.split('|')
#df = df.explode('cast') 
#pivot = df.pivot_table(columns = 'genres', index = 'cast', values = 'original_title', aggfunc = 'count').loc['Nicolas Cage']
#pivot = pivot.sort_values(ascending = False)
#pivot = pivot.head(1).index.tolist()
#pivot = ''.join(map(str, pivot))
#answers['17'] = '{0} {1}'.format(task, pivot)
df
#answers

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]",Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]",Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]",Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]",Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]",Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,"[Adventure, Action, Science Fiction]",Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,"[Adventure, Animation, Action, Comedy, Family]",Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,"[Comedy, Drama]",Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,[Thriller],Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
task = '18.'
df = data.copy()
df.production_companies = df.production_companies.str.split('|')
df = df.explode('production_companies') 

df = df[df['production_companies'] == 'Paramount Pictures' ]
df = df[df['profit'] == df['profit'].min()]
a = df['original_title']
a = ''.join(map(str, a))
answers['18'] = '{0} {1}'.format(task, a)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
task = '19.'
df = data.copy()
df = df.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['19'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015'}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
task = '20.'
df = data.copy()
df.production_companies = df.production_companies.str.split('|')
df = df.explode('production_companies') 
df = df[df['production_companies'].str.contains('Warner',regex=False, case = False)]
df = df.groupby(['release_year']).sum()
df = df[df['profit'] == df['profit'].max()]
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['20'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014'}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
task = '21.'
df = data.copy()
df.release_date = df.release_date.str.split('/',expand=True)
df = df.explode('release_date').release_date.value_counts(sort= True)
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['21'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
task = '22.'
df = data.copy()
df[['month','day','year']] = df.release_date.str.split('/', expand=True)
df = df.month.value_counts(sort= False)
#df = df.head(3).sum()
df = df['6']+df['7']+df['8']
df
#answers['22'] = '{0} {1}'.format(task, df)
#answers

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
task = '23.'
df = data.copy()
df[['month','day','year']] = df.release_date.str.split('/', expand=True)
df.director = df.director.str.split('|')
df = df.explode('director')
df = df.query('month in ["1","2","12"]')
df = df.director.value_counts(sort= True)
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['23'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9',
 '23': '23. Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
task = '24.'
df = data.copy()
df.production_companies = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['original_title_len'] = df['original_title'].apply(lambda x: len(x))
df = df.groupby(['production_companies'])['original_title_len'].mean().sort_values(ascending = False)
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['24'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
task = '25.'
df = data.copy()
df.production_companies = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['overview_len'] = df.overview.str.split(' ')
#df['overview_len'] = df.overview_len.str.split(',')

def words_num (x):
    return len(x)
#words_num('sdfsdgfrgdfgsf')
df['overview_len'] = df.overview_len.apply(lambda x: words_num(x))
df = df.groupby(['production_companies']).agg('mean').sort_values(by='overview_len', ascending=False)
df = df.head(1).index.tolist()
df = ''.join(map(str, df))
answers['25'] = '{0} {1}'.format(task, df)
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides ( tt1298650)',
 '2': '2. Gods and Generals( tt0279111)',
 '3': '3. Winnie the Pooh( tt1449283)',
 '4': '4. Средняя продолжительность фильмов: 109.6585494970884 минут',
 '5': '5. Медианное значение длительности фильмов: 107.0 минут',
 '6': '6. Avatar( tt0499549)',
 '7': '7. The Lone Ranger( tt1210819)',
 '8': '8. У 1478 фильмов из датасета объем сборов оказался выше бюджета',
 '9': '9. The Dark Knight( tt0468569)',
 '10': '10. The Lone Ranger( tt1210819)',
 '11': '11. Жанр Drama    782',
 '12': '12. Жанр Drama    560',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
task = '26.'
df = data.copy()
df = df.sort_values(by='vote_average', ascending=False)
df = df[['original_title', 'vote_average']]
df.reset_index(drop=True, inplace=True)
df2 = int(len(df.index)/100)
df = df.head(df2)
df = df['original_title'].values
df

#.sort_values(by='overview_len', ascending=False)
#['vote_average'].apply(lambda x: x)

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave', 'Guardians of the Galaxy',
       'The Lord of the Rings: The Return of the King', 'Memento',
       'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
       'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [35]:
task = '27.'
df = data.copy()
df.cast = df.cast.str.split('|')
df1 = df.explode('cast')
df3 = df1.groupby(['original_title','cast']).sum()
original_title_list = df1.original_title.value_counts().keys()
df2 = df1.cast.value_counts().keys()
actors = []
for x in df2:
    actors.append(x)    
#actors2 = {df1.original_title.value_counts().keys(): {'actor':df1.cast.value_counts().keys()}}
films =[]
for y in original_title_list:
    films.append(y)
    
#for z in actors:
#    df1[df1['cast'] == df1['cast'].find(z)

actors[1] 
df1[(df1['cast'] == 'Samuel L. Jackson') & (df1['cast'] == 'Samuel L. Jackson')]
actors.isin('Samuel L. Jackso')


#emails_dict[domain]=CC
#df.cast.apply(uniqactors) 

#for y in actors:

#actors
#df = df.explode('cast')
#df['cast'][1]
#df2 = []
#for x in df['cast']:
#    df2.append(x)

AttributeError: 'list' object has no attribute 'isin'

In [ ]:
pd.set_option('display.max_columns', None)
df = data.copy()
pairs = Counter()
for i in range(0,len(df)):
    artists = df.cast[i].split('|')
    for j in list(combinations(artists,2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
aa = pairs.most_common(5)
aa

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)